body {
  min-height: 100vh;
  margin: auto;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #14181c;
  color: white;
}
